RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^[^\.]*[^\/]$
RewriteRule (.*) $1/ [L]

RewriteCond %{REQUEST_URI} !/resources/(css.*)|(js.*)|(images.*)
RewriteCond %{REQUEST_URI} !/tmp/.*
RewriteRule (.*) index.php?page=/$1 [QSA]