/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
}

a{
    text-decoration: none;
    color: inherit;
}

.content{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    margin: 5px auto 20px;
}

.header-nav{
    display: flex;
    color: white;
    background-color: #272E38;
    padding-bottom: 20px;
}

.logo{
    height: 80px;
}

.header .logo .logo-img{
    height: 100%;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.menu-item{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
    font-family: "Open sans";
    font-weight: normal;
    text-transform: uppercase;
}

.welcome{
    position: relative;
    height: 60.02vw;
}

.welcome-image{
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.advertising{
    padding-top: 20px;
}
.description-title{
    margin-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #555;
}

.button-book{
    text-align: center;
}

.button-book a{
    margin-top: 15px;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    color: white;
    background-color: #11f;
}

/**
Page contacts
 */
.contacts_title{
    width: 240px;
    margin: 30px auto;
    border: 1px solid rgb(39, 46, 56);
}

 .contacts_title h1{
     padding: 5px 10px;
     text-transform: uppercase;
     text-align: center;
     font-size: 22px;
     font-weight: 400;
     letter-spacing: 0.3em;
 }

 .description{
     margin: 20px auto 30px;
     max-width: 75%;
     text-align: center;
    font-style: italic;
 }

.left_fields, .right_fields{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.form_item{
    width: 95%;
    margin-top: 5px;
    padding: 3px 3px 3px 24px;
    border: 2px solid rgb(39, 46, 56);
}

textarea.form_item{
    height: 85px;
}

.form_item.button{
    padding: 3px;
    color: white;
    background-color: rgb(39, 46, 56);
    width: 125px;
}

textarea.form_item, .form_item.button{
    display: block;
    margin-left: auto;
    margin-right: 0;
}

